:root{
    font-size : 18px;
}

body {
    margin: 0;
    padding: 0; 
         
}
.container {
    padding-right: 0px;
    padding-left: 0px;
}
/*stop nav bar collapse*/

 
/*nav bar collapse*/

.dropdown-menu {
    right: 0;
    left: initial;
    }
    
.container-fluid{
    max-height: 550px;
    overflow-y: scroll;
}    

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: none;
}

.list-group-item {
    padding : 0;
}

.card-body{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.badge{
    align-self: flex-start; 
}

.profile-pic{
    max-width : 6em;
    max-height : 6em;
}

.notification-time{
    display: flex;
    flex-direction: column;
    align-items : flex-end;     
}

/*msg div*/
.msg-body{
    padding-top: 65px;
    padding-bottom: 65px;
}
.msg-received{
    position: relative;
	background: #00aabb;
    border-radius: .4em;
    padding : 8px;
    margin : 4px 0 0 4px;
    max-width: 60%;
}
.msg-sent{
    position: relative;
	background: #04ee81;
    border-radius: .4em;
    padding : 8px;
    margin : 4px 4px 0px 0px;
    max-width: 60%;
}
.msg-time{    
    font-size: .5em;
}